.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 40px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  position: absolute;
  height: 24px;
  width: 24px;
  opacity: 0.3;
  left: 12px;
  top: 12px;
}

.clearIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
